html {
  scroll-behavior: smooth;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;

    
}


/* Background */

body {
   background-color: rgba(255, 255, 250, 0.568);
}
 

/* Header */


/* Navegação */
ul {
  background-color: rgb(229, 142, 3);
  position: relative;
  display: flex;
  padding: 15px;
  top: 1px;
  margin-top: 5px;
  border-radius: 15px;
  
}

ul  :hover{
  
  transform: scale(1.05);
  
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  color: #b95d128e;
  transform: scale(1.1);
}

/* Seções */
section {
  padding: 40px 20px;
  text-align: center;
}

/* Hero */
.hero {
  background-image: url('./assets/imagens/Pizza\ gigante.jpg');
  background-size: cover;
  color: white;
  padding: 200px 20px;
  position: relative;
  border-radius: 20px;
  overflow: hidden; 
  font-family: "Inter", serif;
  
}

.hero h2 {
  position: relative;
  font-size: 6em;
  z-index: 2;
  font-family: "Inter", serif;
}

.hero p {
  position: relative;
  font-size: 1.2em;
  z-index: 2;
  font-family: "Inter", serif;
}


.hero:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1;
  
}




/* Itens de menu */

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center; 
  
}


.menu-item {
  width: 180px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  margin: 0; 
  
}

.menu-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden; 
}

/* Efeito de hover para os itens */
.menu-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  background-color: #f4f4f4;
}

/* Container dos salgados */
.menu2-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; 
  justify-content: center;
}

/* Itens de salgados */
.menu2-item {
  
  width: 180px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
  margin: 0; 
}

.menu2-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden; 
}

/* Efeito de hover para os itens */
.menu2-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  background-color: #f4f4f4;
}


/* Footer */
footer {
  background-color: #b4660ec2;
  color: white;
  padding: 20px;
  text-align: center;
}

/* Estyle do menu */
#menu .menu-category {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000000;
  background-color: rgba(255, 165, 0, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

#menu .menu-category:hover {
  background-color: rgba(255, 165, 0, 0.5);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* Icones */ 
.button-container {
  display: flex;
  position: absolute;
  background-color: rgb(255, 166, 0);
  width: 250px;
  height: 40px;
  top: 12px;
  right: 10px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
        rgba(245, 73, 144, 0.5) 5px 10px 15px;
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}





